.display-6 {
    font-weight: 500;
}
/* #emailHelp{
    color: #FF235E;
    font-size: 0.8rem !important;
} */

.log-btn{
    width: 100%;
    background-color: #7678ED;
    border-radius: 6px;
    border-style: hidden; 
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-weight:500;
}
.log-btn:disabled, .log-btn[disabled]{
    background-color: #b8b9f4;
}

.div-form{
    width: 45%;
    height: auto;
    padding: 50px 60px;
    background-color: #F7F7F7;
    border-radius: 6px;
}
