.text-purple {
    color: #7678ED;
}

.navbar-brand {
    color: #0A4AFF !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}



/* Hamburger nav icon */
.bi-list {
    font-size: 30px !important;
    color: #141414;
}

/* Remove dropdown arrow in nav */
.dropdown-toggle::after {
    display: none !important;
}

.dropdown-link {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


a.dropdown-link:hover {
    color: #7678ED;
    background: #F7F7F7 !important;
}


#nav-dropdown {
    padding-top: 0;
    padding-bottom: 0;
}

#nav-dropdown{
    content: "\F479" !important; 
}
